<div class="container-fluid" style="background-color: #fff; color:#31a66c; margin-bottom: 45px;">
<div class="page-header">
  <h1 class="text-center">Update</h1>
</div>

<%= render 'form'} %>
  <div class="panel panel-default">
    <div class="panel-body">
    </div>
  </div>
</div>
