<div class="container-fluid" style="background-color: #fff; color:#31a66c; margin-bottom: 45px;">
<div class="page-header">
  <h1 class="text-center">New Contact</h1>
</div>
  <%= render 'form' %>
</div>
