<header id="site-header">
        <div class="search-container">
            <input type="text" id="search-text" placeholder="search by name / job / location">
            </input>
            <i class="fa fa-search"></i>
        </div>
        <div class="title-app">
            <%= link_to("Phone-Book", root_path) %>
        </div>
  <div class="menu-container">
  <a href="<%= new_contact_path %>" class="btn btn-success">
    <i class='fa fa-plus fa-2x'></i>
  </a>
  </div>
</header>
